<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
    #*<small class="copyright">More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
            - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small>*#
    </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="assets/plugins/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="assets/plugins/github-activity/dist/mustache/mustache.min.js"></script>
<script type="text/javascript" src="assets/plugins/github-activity/dist/github-activity-0.1.1.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/common_ms.js"></script>
<script type="text/javascript" src="assets/js/jquery.noty.js"></script>
<script type="text/javascript" src="assets/js/jquery.noty.packaged.js"></script>